<div style="text-align: center">
    <audio autoplay controls style="display: block; margin: auto">
        <source src="/audio/bensound-dubstep.mp3">
    </audio>
    <img src="/images/dancing-cat.gif" alt="dancing cat">
</div>